.navbar-top-big {
  width: 1515px;
  height: 8vh;
  background-color: #ED3729;
  display: flex;
  align-items: center;
}
.navbar-top-big .navbar_top {
  width: 1440px;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-top-big .navbar_top h1 {
  font-size: 24px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar-top-big .navbar_top .fazo_about ul {
  display: flex;
  gap: 25px;
}
.navbar-top-big .navbar_top .contact {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar-top-big .navbar-media {
  display: none;
}

@media screen and (max-width: 447px) {
  .navbar-top-big {
    width: 100%;
    background-color: white;
    border: 1px solid red;
  }
  .navbar-media {
    display: flex;
  }
  .navbar-top {
    display: none;
  }
}