.nav {
  width: 100%;
  padding: 0 50px;
  font-size: 14px;
}
.nav .navbar-medium {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.nav .navbar-medium .img {
  width: 25%;
  text-align: start;
  margin: 0;
}
.nav .navbar-medium .input {
  width: 40%;
  height: 40px;
  border: 2px solid #ED3729;
  display: flex;
  align-items: center;
}
.nav .navbar-medium .input select {
  width: auto;
  height: 100%;
  border: none;
  outline: none;
}
.nav .navbar-medium .input input {
  width: 60%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 5px;
}
.nav .navbar-medium .input .fa-microphone {
  font-size: 20px;
  background-color: white;
}
.nav .navbar-medium .input button {
  padding: 11px 15px;
  background-color: #ED3729;
  color: white;
  border: none;
  margin-right: 0;
}
.nav .navbar-medium .input button .fa-magnifying-glass {
  padding-right: 10px;
}
.nav .navbar-medium .deeds {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0;
}
.nav .navbar-medium .deeds .user {
  text-align: center;
  margin-top: 10px;
}
.nav .navbar-medium .deeds .user i {
  font-size: 20px;
}
.nav .navbar-medium .deeds .scales {
  text-align: center;
}
.nav .navbar-medium .deeds .scales .number-scales {
  display: flex;
}
.nav .navbar-medium .deeds .scales .number-scales i {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 25px;
}
.nav .navbar-medium .deeds .scales .number-scales p {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
}
.nav .navbar-medium .deeds .heart {
  text-align: center;
}
.nav .navbar-medium .deeds .heart .number-heart {
  display: flex;
}
.nav .navbar-medium .deeds .heart .number-heart i {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 25px;
}
.nav .navbar-medium .deeds .heart .number-heart p {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
}
.nav .navbar-medium .deeds .shop {
  text-align: center;
}
.nav .navbar-medium .deeds .shop .number-shop {
  display: flex;
}
.nav .navbar-medium .deeds .shop .number-shop i {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 25px;
}
.nav .navbar-medium .deeds .shop .number-shop p {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
}
.nav .navbar-bottom {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.nav .navbar-bottom button {
  padding: 7px 45px;
  display: flex;
  justify-content: start;
  margin: 0;
  gap: 10px;
  background-color: #ED3729;
  font-size: 14px;
  border: none;
  color: white;
  border-radius: 5px;
}
.nav ul {
  width: 70%;
  display: flex;
  margin: 0;
  gap: 20px;
  font-size: 17px;
}
.nav ul li {
  font-weight: 550;
}