
.footer-big{
    width: 100%;
    background-color: #202020;


    .footer{
        width: 1440px;
        margin: 0 auto;
        display: flex;
        padding: 10px 0;
       
      
        color: white;
    
        .footer-img{
            width: 35%;
    
            img{
                
                margin: 15px 0;
            }
            .service{
                width: auto;
                margin-top: 20px ;
                h1{
                 font-size: 14px; 
                 font-weight: 400; 
                 margin-top: 5px; 
                }
            }
            .call-center{
                margin-top: 20px ;
                p{
                   margin-top: 5px;
                   font-size: 14px; 
                }
            }
            .icon{
                display: flex;
                gap: 20px;
                margin-top: 25px;
             
                .link{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 1px solid grey;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        background-color: red;
                    }
                    i{
                        font-size: 20px;
                        background-color: transparent;
                    }
                }
            }
            
        }
        .footer-lists{
            width: 65%;
            display: flex;
          
            .list{
                width: 33%;
                display: flex;
                flex-direction:column ;
                align-items: start;
                justify-content: start;
               
                h1{
                    font-size: 20px;
                    font-weight: 400;
                }
                p{
                    color: grey;
                    margin-top: 10px;
                }
            }
        }
    
    }


}


